Icon?
*.ipynb_checkpoints
*.json
*.csv
*.DS_Store
*.dropbox

# folders

articles
data-ideas
extra
info
msc-research-proposals
test-data
01-python-code/01-contributing-code


# r stuff
.Rhistory
.history
.Rapp.history
