Icon?
*.ipynb_checkpoints
*.json
*.csv
*.DS_Store
*.dropbox

# folders

articles
data-ideas
extra
info
msc-research-proposals
01-python-code/00-workspace/initial-data
01-python-code/00-workspace/clean-data
01-python-code/01-contributing-code


# r stuff
.Rhistory
.history
.Rapp.history
